<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/public/js/button-login.js"></script>
	<link rel="stylesheet" href="../../public/style/register.css">
</head>

<body>

	<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row ">
      <div class="col-12 col-xs-12">

        <div class="form-title">
          <span>Inschrijven</span>
        </div>

        <form class="form-horizontal" method="post" action="#">

          <div class="row">
              <div class="col-sm-12">
                  <div class="input-box">
                      <span ><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input class="inputs" type="text" class="form-control" name="name-child" id="name-child" placeholder="Naam + achternaam van uw kind" />
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12"> 
              <label class="radio-inline text-white" for="gender-0">
                <input type="radio" name="gender" id="gender-0" value="Male" checked="checked">
                Jongen
              </label> 
              <label class="radio-inline text-white ms-4" for="gender-1">
                <input type="radio" name="gender" id="gender-1" value="Female">
                Meisje
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="input-box">
                    <span ><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input class="inputs form-control pe-4" type="date" id="date-child" name="date-child" placeholder="Geboortedatum van uw kind" >
                </div>
            </div>
        </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="input-box">
                      <span><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                      <input class="inputs" type="text" class="form-control" name="name-parent" id="name-parent" placeholder="Naam+achternaam van ouder" />
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="input-box">
                    <span><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input class="inputs" type="email" class="form-control" name="email" id="email" placeholder="Uw e-mailadres" />
                </div>
            </div>
        </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="input-box">
                    <select class="inputs-telcode ps-3" id="country-code" name="country-code" required>
                      <option class="text-black" value="+31">+31 (NL)</option>
                      <option class="text-black" value="+32">+32 (BE)</option>
                      <option class="text-black" value="+49">+49 (GER)</option>
                      <!-- Add more country codes as needed -->
                    </select>
                      <span ><i class="fa fa-users fa" aria-hidden="true"></i></span>
                      <input class="inputs-tel ps-3 mt-2 mb-2" type="tel" class="form-control" name="phonenumber" id="phonenumber" placeholder="Uw telefoonnummer" />
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="input-box">
                      <span><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input class="inputs" type="text" class="form-control" name="residence" id="resindence" placeholder="Uw huisadres+huisnr." />
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="input-box">
                    <span><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input class="inputs" type="text" class="form-control" name="residence-place" id="resindence-place" placeholder="Uw woonplaats" />
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="input-box">
                  <select class="inputs-telcode ps-3 " id="country-code" name="country-code" required>
                    <option class="text-black" value="+31">+31 (NL)</option>
                    <option class="text-black" value="+32">+32 (BE)</option>
                    <option class="text-black" value="+49">+49 (GER)</option>
                    <!-- Add more country codes as needed -->
                  </select>
                    <span ><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input class="inputs-tel ps-3 mt-2 mb-2" type="tel" class="form-control" name="sosnumber" id="sosnumber" placeholder="telefoonnr SOS-persoon" />
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
                <select class="inputs" id="pakket" name="pakket" required>
                  <option class="text-black" value="pakket1">Pakket 1</option>
                  <option class="text-black" value="pakket2">Pakket 2</option>
                  <option class="text-black" value="pakket3">Pakket 3</option>
                  <option class="text-black" value="pakket4">Pakket 4</option>
              </select>
          </div>
      </div>

        <div class="row mt-3 mb-4">
          <div class="col btn-box2">
            <button type="button" class="btn btn-1 ms-0">Log in</button>
          </div>
        
          <div class="col btn-box2">
              <button type="submit" class="btn btn-1">Bevestigen</button>
          </div>
      </div>

      </form>
  </div>

        <!-- <form action="/login" method="POST">

          <div class="row">

            <div class="input-box">
              <input class="inputs" type="text" name="email" placeholder="Gebruikersnaam of e-mail" required>
              <ion-icon class="icon" name="person-outline"></ion-icon>
            </div>

            <div class="row mb-2">
              <div class="input-box">
                <input class="inputs" type="text" name="password" placeholder="Wachtwoord">
                <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
              </div>
            </div>
          </div>

          <div class="remember-login ms-3">
				<label for="rememberMe"><input type="checkbox" class="mx-2" id="rememberMe" name="rememberMe" value="yes">Onthoud mij</label>
          </div>

          <br>

          <div class="submit">
            <button class="submit-btn">
              <span>Log in</span>
              <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
            </button>
          </div>

          <div class="forgot-pass">
            <a href="#">Wachtwoord vergeten?</a>
          </div>
        </form> -->
      </div>
    </div>
  </div>


	<!-- <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
      <div class="col-6">
        <div class="btn-box1">
          <button class="admin-btn">
            <ion-icon class="icon-above" name="laptop-outline"></ion-icon>
            <span class="button-name">Admin</span>
          </button>
          <button class="admin-btn">
            <ion-icon class="icon-above" name="people-circle-outline"></ion-icon>
            <span class="button-name">Docent</span>
          </button>
          <button class="admin-btn">
            <ion-icon class="icon-above" name="person-circle-outline"></ion-icon>
            <span class="button-name">Leerling</span>
          </button>
        </div>
        <div class="btn-box2">
          <button class="btn btn-1">Inloggen</button>
          <button class="btn btn-2">Registreren</button>
        </div>

        <form action="/submit" method="POST">

          <div class="form-title">
            <span>Aanmelden</span>
          </div>

          <div class="row">

            <div class="input-box">
              <input class="inputs" type="text" name="email" placeholder="Gebruikersnaam of e-mail" required>
              <ion-icon class="icon" name="person-outline"></ion-icon>
            </div>

            <div class="row">
              <div class="input-box">
                <input class="inputs" type="text" name="password" placeholder="Wachtwoord">
                <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
              </div>
            </div>
          </div>

          <div class="remember-login">
            <input type="checkbox" id="rememberMe" name="rememberMe" value="yes">
            Onthoud mij
          </div>

          <br>

          <div class="submit">
            <button class="submit-btn">
              <span>Log in</span>
              <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
            </button>
          </div>

          <div class="forgot-pass">
            <a href="#">Wachtwoord vergeten?</a>
          </div>


        </form>
      </div>

      <div class="col-6 bg-white ">
        Sofyan
      </div>

    </div>
  </div> -->


  

</body>

</html>