@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-*: initial;
  --font-*: initial;
  --radius-*: initial;
  --shadow-*: initial;

  --font-sans: "Inter", "sans-serif";

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #199941;
  --color-secondary: #FBBF24;

  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --color-text-default: #111827;
  --color-text-muted: #6b7280;
  --color-text-subtle: #9ca3af;
  --color-text-link: #199941;

  --color-background-base: #ffffff;
  --color-background-subtle: #f9fafb;
  --color-background-elevated: #ffffff;
  --color-background-highlight: #f3f4f6;

  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  --color-border: #d1d5db;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-full: 9999px;

  --shadow-default: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-background-base);
    color: var(--color-neutral-700);
    font-size: 0.875rem;
  }

  h1 {
    @apply text-3xl font-bold text-neutral-900;
  }

  h2 {
    @apply text-2xl font-semibold text-neutral-900;
  }

  h3 {
    @apply text-xl font-semibold text-neutral-800;
  }
}