
    <div class="col-2 min-vh-100 d-sm-block d-none bg-white" >
      <a href="/" class="d-flex align-items-center p-1 m-2 link-dark text-decoration-none border-bottom">
        <span class="fs-5   fw-semibold"><i class="bi bi-house-door me-2 fs-3"></i> El Fath School</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse" aria-expanded="false">
            Dashboard
          </button>
          <div class="collapse" id="dashboard-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Notificaties</a></li>
              <li><a href="#" class="link-dark rounded">Statistieken</a></li>
              <li><a href="#" class="link-dark rounded">Jaarplanning</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#studentenbeheer-collapse" aria-expanded="false">
            Studentenbeheer
          </button>
          <div class="collapse" id="studentenbeheer-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Leerlingenbestand</a></li>
              <li><a href="#" class="link-dark rounded">Groepsindeling</a></li>
              <li><a href="#" class="link-dark rounded">Absentie</a></li>
              <li><a href="#" class="link-dark rounded">Rapportages</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#docenten-collapse" aria-expanded="false">
            Docentenbeheer
          </button>
          <div class="collapse" id="docenten-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Docentenbestand</a></li>
              <li><a href="#" class="link-dark rounded">Absentie</a></li>
              <li><a href="#" class="link-dark rounded">Rapportage</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#cursusbeheer-collapse" aria-expanded="false">
            Cursusbeheer
          </button>
          <div class="collapse" id="cursusbeheer-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Vakken</a></li>
              <li><a href="#" class="link-dark rounded">Lesroosters</a></li>
              <li><a href="#" class="link-dark rounded">Resultaten</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#financien-collapse" aria-expanded="false">
            Financiën
          </button>
          <div class="collapse" id="financien-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Betalingen</a></li>
              <li><a href="#" class="link-dark rounded">Voorraad lesboeken</a></li>
              <li><a href="#" class="link-dark rounded">Saldoverzicht</a></li>

            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="false">
            Account
          </button>
          <div class="collapse" id="account-collapse" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Gebruikersrechten</a></li>
              <li><a href="#" class="link-dark rounded">Log uit</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-sm-none">
      <div class="container-fluid">
        <!-- Brand -->
        <a href="/" class="navbar-brand d-flex align-items-center">
          <i class="bi bi-house-door me-2 fs-3"></i> El Fath School
        </a>
    
        <!-- Hamburger menu button -->
        <button class="navbar-toggler mb-2 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Sidebar collapsible content -->
        <div class="collapse navbar-collapse" id="sidebarMenu">
          <div class= "min-vh-100 p-2">
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Notificaties</a></li>
                    <li><a href="#" class="link-dark rounded">Statistieken</a></li>
                    <li><a href="#" class="link-dark rounded">Jaarplanning</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#studentenbeheer-collapse" aria-expanded="false">
                  Studentenbeheer
                </button>
                <div class="collapse" id="studentenbeheer-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Leerlingenbestand</a></li>
                    <li><a href="#" class="link-dark rounded">Groepsindeling</a></li>
                    <li><a href="#" class="link-dark rounded">Absentie</a></li>
                    <li><a href="#" class="link-dark rounded">Rapportages</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#docenten-collapse" aria-expanded="false">
                  Docentenbeheer
                </button>
                <div class="collapse" id="docenten-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Docentenbestand</a></li>
                    <li><a href="#" class="link-dark rounded">Absentie</a></li>
                    <li><a href="#" class="link-dark rounded">Rapportage</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cursusbeheer-collapse" aria-expanded="false">
                  Cursusbeheer
                </button>
                <div class="collapse" id="cursusbeheer-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Vakken</a></li>
                    <li><a href="#" class="link-dark rounded">Lesroosters</a></li>
                    <li><a href="#" class="link-dark rounded">Resultaten</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#financien-collapse" aria-expanded="false">
                  Financiën
                </button>
                <div class="collapse" id="financien-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Betalingen</a></li>
                    <li><a href="#" class="link-dark rounded">Voorraad lesboeken</a></li>
                    <li><a href="#" class="link-dark rounded">Saldoverzicht</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Account
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Gebruikersrechten</a></li>
                    <li><a href="#" class="link-dark rounded">Log uit</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
